@use './normalize.scss';

@font-face {
    font-family: 'AkzidenzGroteskPro';
    src: url('../fonts/akzidenzgroteskpro_regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AkzidenzGroteskPro';
    src: url('../fonts/AkzidenzGroteskPro-Md.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// Gilroy
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



$brand-red: #FA0D48;


html {
    scroll-behavior: smooth;
    font-size: 16px;
}


body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    line-height: 100%;
    background-color: #24222E;
    color: #fff;
}


.container {
    max-width: 92.5rem;
    width: 100%;
    padding: 0rem 1.25rem;
    margin: auto;
}

.header {
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header__wrapper {
    display: flex;
    border-radius: 1rem;
    max-width: 118rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(1.875rem);
    padding: 1rem;
    padding-left: 1.5rem;
}

.header__logo {
    width: 5rem;
    height: 3rem;
    margin-right: 2rem;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.header__nav {
    padding: 0rem 1rem;
    border-left: 0.0625rem solid rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    gap: 0.0625rem;
}

.header-link {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 0.75rem 1rem;
    position: relative;
    transition: background-color .2s ease-in-out;
    border-radius: 0.25rem;

    &:hover {
        background-color: $brand-red;
    }
}


.mob-menu-btn {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #E0E3EB;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 8H20M4 16H20' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    cursor: pointer;
    display: none;
}

.color-btn,
.ghost-btn {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.625rem 3rem;
    border-radius: 1rem;
    display: block;
    width: fit-content;
    transition: transform .2s ease-in-out;
    will-change: transform;

    &:hover {
        transform: translateY(-0.125rem);
    }

    &:active {
        transform: translateY(0rem);
    }
}

.header__buttons {
    display: flex;
    gap: 1rem;
    margin-left: auto;


    .color-btn,
    .ghost-btn {
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.9375rem 2rem;
        border-radius: 0.5rem;
    }

}

.color-btn {
    background-color: $brand-red;
}

.ghost-btn {
    border: 0.0625rem solid rgba(224, 227, 235, 0.50);
}

.main {
    padding-top: 7.125rem;
    padding-bottom: 8rem;
    max-width: 100vw;
    overflow: hidden;
}


.main-section {
    padding-bottom: 3rem;
}


.main-section__content {
    padding-top: 11rem;
    padding-bottom: 14.375rem;
    position: relative;
    z-index: 2;
}

.main-section__wrapper {
    display: flex;
    position: relative;

    &::before {
        position: absolute;
        background-image: url(../img/red-elepse.png);
        pointer-events: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top right;
        content: '';
        right: 0;
        top: 0;
        width: 93.75rem;
        height: 93.75rem;
        transform: translate(40%, -30%);
    }
}

.main-section__subtitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
    display: block;
}

.main-section__title {
    font-family: 'AkzidenzGroteskPro';
    font-size: 6rem;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 4.5rem;
    text-transform: uppercase;

    br:first-child {
        display: none;
    }
}

.icon-titles {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icon-title {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.25rem;

    .ico {
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}


.main-section__text {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.5);
    max-width: 52.5rem;
    width: 100%;
    line-height: 150%;
    font-size: 1.25rem;
    font-weight: 400;
}


.main-section__diamond {
    position: absolute;
    right: -5.9375rem;
    top: -2.8125rem;
    width: 39.5rem;
    height: 55.5rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}


.images-cards {
    display: flex;
    gap: 1.5rem;
}

.images-card {
    width: calc(33.333% - 1rem);
    padding: 1.5rem;
    min-height: 9rem;
    padding-left: 8.75rem;
    font-size: 1.5rem;
    line-height: 130%;
    font-weight: 500;
    position: relative;
    border-radius: 1rem;
    background-color: #A21E4E;
    display: flex;
    align-items: center;

    &:nth-child(1) {
        .images-card__img {
            width: 7.9375rem;
            height: 7.4375rem;
            left: -0.9375rem;
            top: -0.3125rem;
        }
    }

    &:nth-child(2) {
        .images-card__img {
            width: 6.4375rem;
            height: 9.875rem;
            bottom: 0;
            left: 0.3125rem;
        }
    }

    &:nth-child(3) {
        .images-card__img {
            width: 4.9375rem;
            height: 8rem;
            top: -0.625rem;
            left: 1.125rem;
        }
    }
}

.images-card__img {
    position: absolute;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}


.second-section__content {
    max-width: 41.25rem;
    font-size: 1.5rem;
    line-height: 150%;
}

.second-section__btns {
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
}

.second-section {
    padding: 3rem 0;
}



.timer {
    padding: 3rem 0;
}


.timer__title {
    line-height: 140%;
    font-size: 1.5rem;
    font-family: 'AkzidenzGroteskPro';
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3rem;
    color: #fff;
    text-align: center;
    margin-bottom: 3rem;
}

.timer__blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: fit-content;
    margin: 0 auto;
    position: relative;

    &::before {
        pointer-events: none;
        position: absolute;
        background-image: url(../img/red-elepse-v2.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        content: '';
        left: 0;
        top: 50%;
        width: 93.75rem;
        height: 93.75rem;
        transform: translate(-60%, -50%);
        z-index: -1;
    }
}

.timer__block {
    width: 13.75rem;
    height: 12.5rem;
    border-radius: 1.5rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-num {
    font-size: 6rem;
    line-height: 100%;
    font-family: 'AkzidenzGroteskPro';
    font-weight: 400;
}

.block_descr {
    color: rgba(255, 255, 255, 0.75);
    text-transform: lowercase;
    font-size: 1rem;
}


.section-title {
    font-size: 3rem;
    line-height: 120%;
    font-family: 'AkzidenzGroteskPro';
    font-weight: 500;
    text-transform: uppercase;


}

.plates {
    padding: 3rem 0;
    padding-bottom: 3rem;

    .section-title {
        margin-top: 3rem;
    }
}

.plates-block {
    margin-top: 4rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.plate {
    width: calc(33.333% - 1rem);
    padding: 1rem 1.5rem 1.5rem;
    border-radius: 1rem;
    background: #FA0D48;
    background: linear-gradient(45deg, rgba(250, 13, 72, 1) 0%, rgba(176, 6, 107, 1) 100%);
}

.plate__large {
    line-height: 100%;
    font-size: 6rem;
    font-family: 'AkzidenzGroteskPro';
    font-weight: 400;
    margin-bottom: 2.5rem;
}

.plate__small {
    font-size: 1.5rem;
}

.timeline-wrapper {
    display: flex;
    align-items: flex-end;
}

.timeline-item {
    width: 16.666%;

    &:last-child {
        .timeline-item__plate {
            padding-left: 2.75rem;
            backdrop-filter: none;
            background-color: #fff;
            color: #24222E;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 3H6M5 2V4M11.5 2L11 4M18 3H20M19 2V4M15 7L14 8M18 11L20 10.5M18 17H20M19 16V18M14.0018 14.518L7.48376 8L3.09376 17.58C3.00699 17.766 2.97955 17.9742 3.01518 18.1763C3.0508 18.3785 3.14776 18.5647 3.29289 18.7099C3.43802 18.855 3.6243 18.952 3.82643 18.9876C4.02856 19.0232 4.23676 18.9958 4.42276 18.909L14.0018 14.518Z' stroke='url(%23paint0_linear_15_1286)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_15_1286' x1='3' y1='10.5014' x2='20' y2='10.5014' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23CD9DFF'/%3e%3cstop offset='0.11' stop-color='%23CF94F5'/%3e%3cstop offset='0.29' stop-color='%23D57DDC'/%3e%3cstop offset='0.51' stop-color='%23DF57B5'/%3e%3cstop offset='0.61' stop-color='%23E544A1'/%3e%3cstop offset='0.73' stop-color='%23EB3078'/%3e%3cstop offset='0.99' stop-color='%23FD0110'/%3e%3cstop offset='1' stop-color='%23E7002D'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
            background-repeat: no-repeat;
            background-size: 1.5rem;
            background-position: left 0.75rem top 0.4375rem;
        }
    }
}

.timeline-item__plate {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
    padding: 0.5625rem 0.75rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(1.875rem);
    width: fit-content;
    margin-bottom: 1rem;
}

.timeline-item__text {
    line-height: 150%;
    font-size: 1.25rem;
}

.timeline-item__line {
    margin-top: 1.875rem;
    height: 1.25rem;
    width: calc(100% - 1.5rem);
    background-image: url(../img/timeline-line.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}

.timeline {
    padding-top: 7.8125rem;
    padding-bottom: 4.6875rem;
    position: relative;

    .section-title {
        margin-bottom: 4.5rem;
    }

    &::before {
        z-index: -1;
        pointer-events: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -35%);
        width: 110%;
        height: 34.0625rem;
        content: '';
        background-image: url(../img/wave.svg);
        // background-repeat: round;
        background-size: auto 100%;
        background-position: center;
    }
}

.group-name {
    width: fit-content;
    overflow: hidden;
    border-radius: 0.75rem;
    padding: 1px;
    background: linear-gradient(90deg,
            #CD9DFF 0%,
            #CF94F5 11%,
            #D57DDC 29%,
            #DF57B5 51%,
            #E544A1 61%,
            #EB3078 73%,
            #FD0110 99%,
            #E7002D 100%);
    margin-bottom: 3rem;

}

.group-name-text {
    line-height: 100%;
    font-size: 1.5rem;
    font-family: 'AkzidenzGroteskPro';
    font-weight: 500;
    padding: 0.9375rem 1.4375rem;
    background-color: #24222E;
    border-radius: 0.75rem;
}

.nominations {
    padding-top: 7.8125rem;
    padding-bottom: 3rem;

    .section-title {
        margin-bottom: 4.5rem;
    }
}


.group-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 6rem;
}

.nomination {
    padding: 1.5rem;
    padding-bottom: 2.5rem;
    background-color: #3A3843;
    border-radius: 1.5rem;
    width: calc(33.333% - 1rem);

    .ico {
        width: 2rem;
        height: 2rem;
        flex-wrap: wrap;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}

.nomination-name {
    line-height: 120%;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.nomination-text {
    font-size: 1.25rem;
    line-height: 150%;
    font-weight: 400;
}


.description-footer {
    display: flex;
    flex-direction: column;
    align-items: center;


    .description-footer__text {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 2.5rem;
    }

    .description-footer__btn {
        max-width: 32rem;
        width: 100%;
        text-align: center;
    }
}

.benefits {
    padding: 3rem 0;

    .section-title {
        margin-bottom: 8.4375rem;
        margin-top: 4rem;
    }
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    .list-item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: calc(25% - 1.125rem);
        min-height: 25rem;
        padding: 1.5rem;
        border-radius: 1.5rem;
        background: #620091;
        background: linear-gradient(46deg, rgba(98, 0, 145, 1) 0%, rgba(175, 5, 107, 1) 100%);

        &:nth-child(1) .list-item-image {
            top: -4%;
            right: 0;
            width: 90%;
            height: 56%;
        }

        &:nth-child(2) .list-item-image {
            top: -8%;
            right: 0;
            width: 86%;
            height: 62%;
        }

        &:nth-child(3) .list-item-image {
            top: -7%;
            right: 0;
            width: 97%;
            height: 64%;
        }

        &:nth-child(4) .list-item-image {
            top: -8%;
            right: 0;
            width: 93%;
            height: 64%;
        }
    }

    .list-item__name {
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 0.75rem;
        line-height: 130%;
    }

    .list-item__descr {
        font-size: 1.25rem;
        line-height: 130%;
        font-weight: 400;
    }



}

.list-item-image {
    position: absolute;

}

.list-item-image__wrapper {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.member-way {
    position: relative;
    padding: 3rem 0;
    padding-bottom: 12.5rem;

    .section-title {
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
}

.member-way__list {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    position: relative;

    &::before {
        position: absolute;
        pointer-events: none;
        background-image: url(../img/red-elepse-v3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        content: '';
        left: 50%;
        top: 50%;
        width: 93.75rem;
        height: 93.75rem;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .list-item {
        width: calc(16.666% - 1.3019rem);
    }

    .list-item__plate {
        margin-bottom: 1rem;
        width: fit-content;
        overflow: hidden;
        border-radius: 0.5rem;
        padding: 1px;
        background: linear-gradient(90deg,
                #CD9DFF 0%,
                #CF94F5 11%,
                #D57DDC 29%,
                #DF57B5 51%,
                #E544A1 61%,
                #EB3078 73%,
                #FD0110 99%,
                #E7002D 100%);

        span {
            line-height: 100%;
            font-size: 1rem;
            font-weight: 600;
            padding: 0.3125rem 0.75rem;
            background-color: #24222E;
            border-radius: 0.5rem;
            display: block;
        }

    }

    .list-item__name {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 1rem;
    }

    .list-item__descr {
        line-height: 150%;
        font-size: 1.25rem;
        font-weight: 400;
        color: #D8D7D9
    }
}


.rocket-line {
    position: absolute;
    width: 2139px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.path-svg {
    width: 100%;
    height: 100%;
    display: block;
}

.rocket {
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    offset-rotate: auto 225deg;
    offset-path: path("M2134.04 34.7665L2134.19 34.7623C2075.1 51.3894 2045.12 72.5414 1986.02 78.4436C1808.29 96.1632 1643.26 -6.42787 1454.75 4.80924C1382.23 9.13186 1318.95 28.3822 1261.28 47.9183C1214.67 63.7393 1155.39 99.1414 1092.37 106.676C924.119 126.983 788.313 22.6565 599.805 23.7939C342.626 25.2996 229.909 181.47 4.00111 119.779");
    animation: move-rocket 15s infinite linear;
}

@keyframes move-rocket {

    0% {
        offset-distance: 100%;
    }

    100% {
        offset-distance: 0%;
    }
}

.price-list {
    display: flex;
    gap: 1.5rem;
    padding-top: 6.25rem;
    padding-bottom: 3.125rem;
    align-items: center;
}


.price-item {
    background: #605C6E;
    position: relative;
    padding: 0.125rem;
    padding-top: 3rem;
    border-radius: 1.5rem;
    width: calc(33.333% - 1rem);

    &:nth-child(1) {
        background: linear-gradient(90deg,
                #CD9DFF 0%,
                #CF94F5 11%,
                #D57DDC 29%,
                #DF57B5 51%,
                #E544A1 61%,
                #EB3078 73%,
                #FD0110 99%,
                #E7002D 100%);

        .price-item__sum {
            font-size: 5rem;
        }

        .price-item__head {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 24L24 8M21.3333 22.6667C21.3333 23.0203 21.4738 23.3594 21.7239 23.6095C21.9739 23.8595 22.313 24 22.6667 24C23.0203 24 23.3594 23.8595 23.6095 23.6095C23.8595 23.3594 24 23.0203 24 22.6667C24 22.313 23.8595 21.9739 23.6095 21.7239C23.3594 21.4738 23.0203 21.3333 22.6667 21.3333C22.313 21.3333 21.9739 21.4738 21.7239 21.7239C21.4738 21.9739 21.3333 22.313 21.3333 22.6667ZM8 9.33333C8 9.68696 8.14048 10.0261 8.39052 10.2761C8.64057 10.5262 8.97971 10.6667 9.33333 10.6667C9.68696 10.6667 10.0261 10.5262 10.2761 10.2761C10.5262 10.0261 10.6667 9.68696 10.6667 9.33333C10.6667 8.97971 10.5262 8.64057 10.2761 8.39052C10.0261 8.14048 9.68696 8 9.33333 8C8.97971 8 8.64057 8.14048 8.39052 8.39052C8.14048 8.64057 8 8.97971 8 9.33333Z' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
        }
    }

    &:nth-child(2) {
        .price-item__head {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 24.3338H15C16.0609 24.3338 17.0783 23.9124 17.8284 23.1622C18.5786 22.4121 19 21.3947 19 20.3338V7.00049M19 7.00049L13.6667 12.3338M19 7.00049L24.3333 12.3338' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
        }
    }

    &:nth-child(3) {
        .price-item__head {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.66699 25.3335H14.667C15.7279 25.3335 16.7453 24.9121 17.4954 24.1619C18.2456 23.4118 18.667 22.3944 18.667 21.3335V12.0002M18.667 12.0002L13.3337 17.3335M18.667 12.0002L24.0003 17.3335M13.3337 10.6668L18.667 5.3335L24.0003 10.6668' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
        }
    }
}

.price-item__inner {
    background-color: #24222E;
    border-radius: 1.5rem;
    padding: 2.5rem 2rem;
}

.price-item__head {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: left 0.625rem center;
}

.gradient-line {
    width: 100%;
    margin: 1rem 0;
    height: 0.0625rem;
    background: linear-gradient(90.00deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 100%);
}

.price-item__plate {
    color: #D8D7D9;
    padding: 0.4375rem 0.75rem;
    background-color: #3A3843;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    width: fit-content;
    margin-bottom: 0.75rem;
}

.price-section {
    padding: 7.8125rem 0;
}

.price-item__sum {
    font-size: 4rem;
    font-family: 'AkzidenzGroteskPro';
    font-weight: 400;
    line-height: 100%;

    span {
        font-size: 3rem;
        font-family: 'AkzidenzGroteskPro';
        font-weight: 500;
    }
}


.juri-section,
.partners-section {
    padding-bottom: 6rem;
}

.partners-section {
    padding-bottom: 0;
    position: relative;

    &::before {
        position: absolute;
        background-image: url(../img/red-elepse-v3.png);
        background-repeat: no-repeat;
        pointer-events: none;
        background-position: center;
        background-size: contain;
        content: '';
        left: 0%;
        top: 0%;
        transform: translate(-20%, -40%);
        width: 93.75rem;
        height: 93.75rem;
        z-index: -1;
    }

}

.section-title.border-title {
    padding: 4rem 0;
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        content: '';
        height: 0.0625rem;
        background: #ffffff;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    }

}



.juri-item {
    max-width: 21.375rem;
    width: 100%;

    &:not(:last-child) {
        margin-right: 1.5rem;
    }

    .juri-item__image {
        height: 22.5rem;
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 1rem;
        overflow: hidden;

        &.partner-image {
            height: 12.5rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .juri-item__name {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;

    }

    .juri-item__descr {
        font-size: 1.25rem;
        font-weight: 400;
        color: #D8D7D9;
        line-height: 150%;
    }

    .juri-item__content {
        padding: 1rem 1.5rem 0.5rem 0.5rem;
    }
}


.slider-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .swiper-button-next,
    .swiper-button-prev {
        width: 3rem;
        height: 3rem;
        position: static;
        margin: 0;
        border-radius: 0.5rem;
        border: 0.0625rem solid rgba(255, 255, 255, 0.5);

        &::after,
        &::before {
            display: none;
        }

        background-repeat: no-repeat;
        background-position:center;
        background-size: 1.5rem;

    }

    .swiper-button-prev {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15 6L9 12L15 18' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    }

    .swiper-button-next {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 6L15 12L9 18' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    }

    .swiper-pagination {
        margin: 0;
        position: static;
        transform: none !important;
    }

    .swiper-pagination-bullet {
        width: 0.625rem;
        height: 0.625rem;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 1;
        margin: 0rem 0.5rem !important;
    }

    .swiper-pagination-bullet-active {
        background-color: #fff;
    }
}

.faq {
    padding-top: 4.375rem;
}

.faq-list {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    margin-bottom: 4rem;
}

.faq-item {
    padding: 1.5625rem;
    border-radius: 1rem;
    background-color: #3A3843;
    cursor: pointer;

}

.faq-item__head {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 130%;
    position: relative;
    padding-right: 1.5625rem;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0.2188rem;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 9L12 15L6 9' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: transform .3s ease-in-out;
    }

    &.open::after {
        transform: scaleY(-1);
    }
}

.faq-item__body {
    padding-right: 1.5625rem;
    display: none;
    padding-top: 0.75rem;
    line-height: 150%;
    font-size: 1.25rem;
    font-weight: 400;

    ul {
        padding-left: 1.25rem;
    }
}

.contacts {
    padding-top: 7.8125rem;

    .section-title {
        margin-bottom: 3rem;
    }
}


.contact-block {
    display: flex;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background: linear-gradient(46deg, rgba(98, 0, 145, 1) 0%, rgba(175, 5, 107, 1) 100%);
    width: 100%;
    gap: 3rem;
    margin-bottom: 3rem;
}


.contact-block__image {
    flex-shrink: 0;
    width: 25rem;
    height: 25rem;
    border-radius: 1rem;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.contact-block__title {
    font-size: 3rem;
    line-height: 130%;
    margin-bottom: 2rem;
}

.contact-block__content {
    font-weight: 600;
}

.contact-block__name {
    font-size: 2rem;
    line-height: 130%;
    margin-bottom: 1.5rem;
}

.contact-block__wrap {
    margin-bottom: 1.5rem;

    .wrap-name {
        font-size: 1.5rem;
        line-height: 130%;
        margin-bottom: 0.25rem;
        color: rgba(216, 215, 217, 0.5);
    }

    .wrap-link {
        font-size: 2rem;
        line-height: 130%;
    }
}

.contacts__footer {
    display: flex;
    gap: 1.5rem;

    .contacts-coll {
        width: calc(50% - 0.75rem);
        display: flex;
        flex-direction: column;
    }

    .contacts-coll__block {
        padding: 2rem;
        border-radius: 1.5rem;
        background-color: #3A3843;
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 1.5rem;
    }
}

.contacts-coll__title {
    font-size: 1.25rem;
    color: #D8D7D9;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.info-wrapper__name {
    color: #D8D7D9;
    margin-bottom: 0.25rem;
    font-weight: 400;
    line-height: 150%;
}

.info-wrapper__val {
    line-height: 130%;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    background-color: #47283D;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    align-items: center;
}


.footer__text {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 150%;
}

.footer__link {
    font-size: 1.25rem;
    line-height: 150%;
    color: #FF96A4;
    text-decoration: underline;
}

.socials {
    display: flex;
    gap: 1.5rem;

    .social {
        width: 2rem;
        height: 2rem;

        svg {
            width: 100%;
            height: 100%;

            path {
                transition: fill .2s ease-in-out;
            }
        }

        &:hover {
            path {
                fill: $brand-red;
            }
        }
    }
}


.footer__btn {
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
}


.fixed-sidebar {
    backdrop-filter: blur(1.875rem);
    background-color: hsla(0, 0%, 100%, .1);
    position: fixed;
    right: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.75rem;
    border-radius: 1rem;
    z-index: 10;

    .socials {
        flex-direction: column;
    }

    .social {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }

    .form-action {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $brand-red;
        border-radius: 0.75rem;
        cursor: pointer;
    }

    .line {
        height: 0.0625rem;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 1.5rem 0;
    }
}


.coockie-modal,
.modal-template {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 34, 46, 0.75);
    backdrop-filter: blur(1.875rem);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1.25rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.modal-template {
    align-items: flex-start;
    padding: 3.125rem 0.9375rem;
    overflow: auto;

    &.complited {
        .modal-content {
            display: none;

            &.res-content {
                display: flex;
            }
        }
    }
}

.coockie-modal__content {
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    background-color: #3A3843;
    max-width: 68.75rem;
    width: 100%;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    cursor: pointer;
}

.coockie-modal__text {
    font-size: 1.25rem;
    line-height: 150%;
    color: #D8D7D9;

    a {
        color: #FF96A4;
        text-decoration: underline;
    }
}

@media (max-width: 768px) {
    .coockie-modal__content {
        flex-direction: column;
        padding: 0.9375rem;
        gap: 1.25rem;
    }

    .coockie-modal__text {
        font-size: 1rem;
        line-height: 120%;
    }

}

.modal-template.show {
    .modal-content {
        opacity: 1;
        transform: translateY(0);
    }
}


.modal-content {
    transform: translateY(6.25rem);
    opacity: .3;
    transition: all .3s ease-in-out;
    background-color: #3A3843;
    max-width: 35rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1.5rem;

    &.res-content {
        display: none;
        margin: auto;

        .close-modal-btn {
            margin-top: 32px;
            width: 100%;
        }
    }

    label {
        display: block;
        width: 100%;
    }

    .form-tmp__head {
        font-weight: 600;
        font-size: 2rem;
        line-height: 130%;
        padding-bottom: 1rem;
        border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.24);
        display: flex;
        justify-content: space-between;
        gap: 1.25rem;
    }

    .form-tmp__close {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 6L6 18M6 6L18 18' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.5rem;
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
        flex-shrink: 0;
        cursor: pointer;
        border: 0.0625rem solid rgba(255, 255, 255, 0.5);
    }

    .form-tmp__descr {
        padding-top: 1rem;
        font-size: 1.25rem;
        line-height: 150%;
    }

    .form__body {
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .form__footer {
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .form-label {
        border: 0.0625rem solid #9D9BA1;
        border-radius: 0.75rem;
        min-height: 4.5rem;
        display: flex;
        background-color: #24222E;

        &.error {
            border-color: red;
        }

        input,
        textarea {
            resize: none;
            padding: 1rem;
            font-size: 1.25rem;
            line-height: 150%;
            background-color: transparent;
            width: 100%;
            display: block;
            color: #D8D7D9;
        }

        textarea {
            height: 12.5rem;
            display: block;
        }
    }
}

.agree-label {
    position: relative;

    a {
        color: #ff96a4;
        text-decoration: underline;
        z-index: 2;
        position: relative;
    }

    p {
        line-height: 120%;
        font-size: 1rem;
        padding-left: 3rem;

        &::before {
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 0.1875rem;
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            border: 0.0625rem solid rgba(255, 255, 255, 0.5);
            border-radius: 0.25rem;
            flex-shrink: 0;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    &.error p::before {
        border-color: red;
    }

    input {
        cursor: pointer;
        opacity: 0;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        &:checked+p::before {
            border-color: $brand-red;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='24' height='24' fill='%23FA0D48'/%3e%3cpath d='M5.75 12.0002L9.91667 16.1668L18.25 7.8335' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
        }
    }
}

.submit-btn {
    width: 100%;
    margin-top: 1.5rem;
    cursor: pointer;
}

@media (max-width: 1500px) {
    html {
        font-size: 14px;
    }

    .main-section__diamond {
        width: 31.25rem;
        height: 44.375rem;
        right: 1.0625rem;
    }

    .rocket-line {
        bottom: 0;
        transform: translateX(-50%) scale(0.7);
    }
}

.mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: flex;
    background-color: rgba(36, 34, 46, .75);
    backdrop-filter: blur(30px);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all .3s ease-in-out;

    &.show {
        opacity: 1;
        visibility: visible;

        .mobile-menu__content {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu__content {
        transition: all .3s ease-in-out;
        transform: translateX(50%);
        opacity: .3;
        margin-left: auto;
        width: 90%;
        height: 100%;
        padding: 24px;
        background-color: #3A3843;
        border-radius: 24px 0 0 0;
        display: flex;
        flex-direction: column;

    }

    .header__buttons {
        display: flex;
        // flex-direction: column;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .mobile-menu__nav {
        flex-direction: column;
        display: flex;
        align-items: flex-end;
    }

    .header-link {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .fixed-sidebar {
        margin-top: auto;
        width: fit-content;
        transform: none;
        position: static;
        display: flex;
        margin-left: auto;

        .socials {
            flex-direction: row;
        }

        .line {
            height: auto;
            width: 1px;
            margin: 0px 16px;
        }
    }
}

.mobile-menu__close {
    margin-left: auto;
    margin-bottom: 16px;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #e0e3eb;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 6L6 18M6 6L18 18' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    cursor: pointer;
}

@media (max-width: 1280px) {
    html {
        font-size: 13px;
    }
}



@media (max-width: 1180px) {
    .mob-menu-btn {
        display: block;
        margin-left: auto;
    }

    .header__nav,
    .header__buttons {
        display: none;
    }

    .main-section__content {
        padding-top: 60px;
    }

    .nomination {
        width: calc(50% - 10px);
    }

    .main-section__title {
        font-size: 54px;
        margin-bottom: 30px;
    }

    .main-section__subtitle {
        font-size: 16px;
    }

    .main-section__text {
        max-width: 500px;
    }

    .icon-titles {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .images-card,
    .plate,
    .timeline-item {
        width: 100%;
    }

    .images-card,
    .plate {
        max-width: 31.25rem;

        &:nth-child(2) {
            align-self: center;
        }

        &:nth-child(3) {
            margin-left: auto;
        }
    }

    .images-cards,
    .plates-block,
    .timeline-wrapper {
        flex-direction: column;
    }

    .timeline-item__text br {
        display: none;
    }

    .timeline-wrapper {
        gap: 32px;
    }

    .timeline-item {
        position: relative;
        padding-left: 35px;

        &::before {
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom center;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='70' viewBox='0 0 20 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='1' height='50' transform='translate(9.5)' fill='url(%23paint0_linear_67_1299)'/%3e%3crect x='1.5' y='51.5' width='17' height='17' rx='8.5' stroke='url(%23paint1_linear_67_1299)' stroke-width='3'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_67_1299' x1='1.00007' y1='0.258209' x2='1.00009' y2='50.2582' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='white' stop-opacity='0'/%3e%3cstop offset='1' stop-color='white'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_67_1299' x1='0' y1='60' x2='20' y2='60' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23CD9DFF'/%3e%3cstop offset='0.11' stop-color='%23CF94F5'/%3e%3cstop offset='0.29' stop-color='%23D57DDC'/%3e%3cstop offset='0.51' stop-color='%23DF57B5'/%3e%3cstop offset='0.61' stop-color='%23E544A1'/%3e%3cstop offset='0.73' stop-color='%23EB3078'/%3e%3cstop offset='0.99' stop-color='%23FD0110'/%3e%3cstop offset='1' stop-color='%23E7002D'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 20px;
        }
    }

    .timeline-item__line {
        display: none;
    }

    .benefits__list .list-item {
        width: calc(50% - 10px);
    }

    .member-way__list .list-item {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .member-way__list .list-item__name {
        margin-bottom: 10px;
    }

    .fixed-sidebar {
        right: 10px;
    }

    .rocket-line {
        display: none;
    }

    .member-way {
        padding-bottom: 50px;
    }

    .price-list {
        flex-wrap: wrap;
    }

    .price-item {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .main-section__diamond {
        top: 0;
        right: 0;
        width: 40vw;
        height: 60vw;
    }

    .main-section__content {
        padding: 60px 0;
    }

    .main-section__title {
        br {
            display: inline !important;
        }
    }

    .main-section__subtitle {
        max-width: 414px;
        line-height: 140%;
    }



    .fixed-sidebar {
        display: none;
    }

    .timeline,
    .plates,
    .benefits,
    .member-way {
        padding-bottom: 0;
    }

    .benefits .section-title {
        margin-bottom: 60px;
    }

    .price-list {
        padding-top: 60px;
    }

    .contacts__footer {
        flex-direction: column;
        gap: 40px;
    }

    .contacts__footer .contacts-coll {
        width: 100%;
    }

    .main {
        padding-bottom: 72px;
    }

}

@media (max-width: 768px) {
    .contact-block {
        flex-direction: column;
    }
}

@media (max-width: 680px) {
    .plates {
        padding-top: 0;
    }

    .main-section__diamond {
        top: 10vw;
        right: -5vw;
    }

    .header__logo {
        width: 6rem;
        height: 3.8rem;
    }

    .price-section {
        padding-bottom: 60px;
    }

    .images-cards {
        margin-top: 50px;
    }

    .main-section__content {
        padding: 32px 0;
    }

    .main-section__subtitle {
        margin-bottom: 0;
    }

    .main-section__title {
        margin: 40px 0;
    }

    .contact-block__title {
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .contact-block__wrap:last-child {
        margin-bottom: 0;
    }

    .contact-block {
        gap: 24px;
    }

    .benefits .section-title {
        margin-top: 0;
    }

    .group-name-text {
        font-size: 16px;
        padding: 10px 16px;
        border-radius: 12px;
    }

    .group-name {
        border-radius: 12px;

    }

    .nomination {
        padding: 12px 16px;
    }

    .group-wrapper {
        margin-bottom: 64px;
    }

    .modal-template {
        padding: 20px 15px;

        .modal-content {
            padding: 16px;
        }
    }

    .mobile-menu {
        .header__buttons {
            margin-top: auto;
            flex-direction: column;
            margin-left: 0;
        }

        .ghost-btn,
        .color-btn {
            width: 100%;
            font-size: 16px;
            line-height: 16px;
            padding: 16px;
        }

        .fixed-sidebar {
            margin: auto;
            margin-top: 20px;
            margin-bottom: 0;
        }
    }


    .main-section__wrapper::before,
    .timer__blocks::before {
        width: 600px;
        height: 600px;
    }

    .timer__blocks::before {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .partners-section::before {
        display: none;
    }

    .member-way__list::before {
        width: 600px;
        height: 600px;
        top: 0;
        transform: translate(-50%, -82%);
    }

    .section-title {
        font-size: 32px;
    }

    .benefits__list {
        gap: 50px;

        .list-item {
            width: 100%;
        }
    }

    .contact-block__image {
        width: 100%;
    }

    .footer__wrapper {
        flex-direction: column;
        text-align: center;
    }

    .nomination {
        width: 100%;
    }

    .main-section__text {
        max-width: initial;
        width: 100%;
    }

    .second-section__content {
        max-width: initial;
    }

    .second-section__btns {
        flex-direction: column;

        .color-btn,
        .ghost-btn {
            width: 100%;
        }
    }

    .timer__block {
        width: calc(25% - 10px);
        height: 20vw;

        .block-num {
            font-size: 8vw !important;
        }
    }

    .timer__blocks {
        width: 100%;
        gap: 10px;
    }

    .juri-item {
        max-width: 85vw;
    }

    .juri-slider {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        margin-left: -1.25rem;
        margin-right: -1.25rem;
    }

    .juri-item .juri-item__image {
        height: 70vw;
    }

    .juri-item .juri-item__image.partner-image {
        height: 45vw;
    }
}